*~
*.o
*.lo
*.html
.deps
.libs
config.log
config.status
autom4te.cache
config.h
eb.conf

INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
doc/Makefile.in
eb/Makefile.in
ebappendix/Makefile.in
ebfont/Makefile.in
ebinfo/Makefile.in
ebrefile/Makefile.in
ebstopcode/Makefile.in
ebzip/Makefile.in
install-sh
libebutils/Makefile.in
ltmain.sh
m4/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
samples/Makefile.in

eb/build-post.h
eb/libeb.la
eb/stamp-build-post-h
eb/stamp-sysdefs-h
eb/sysdefs.h
ebappendix/ebappendix
ebfont/ebfont
ebinfo/ebinfo
ebrefile/ebrefile
ebstopcode/ebstopcode
ebzip/ebzip
libebutils/ebutils.h
libebutils/libebutils.a
libebutils/stamp-ebutils-h
libtool
stamp-h1
